
# Direct dependencies
python==3.11.3
numpy # 1.12.0
pandas
matplotlib
seaborn
scikit-learn
#tensorflow-gpu  # 1.0.0
Keras  # 2.0.2 / 2.0.3
librosa
audioread
mutagen  # 1.39.dev0
pydub
requests
pydot
tqdm
python-dotenv  # 0.6.4
Jinja2
missingno
protobuf
tensorflow-macos
tensorflow-metal
Keras
tensorflow-hub
tensorflow-docs